* {
	margin: 0px;
	padding: 0px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#container {
	margin: 0 auto;
	width: 1800px;
	height: 100%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
	background-image: url(../Photos/GlavnaStranica.jpg);
	background-size: cover;
	background-attachment: fixed;
}

/* HEADER */
header {
	background-color: #0B0C10;
	border-radius: 0 0 20px 20px;
	margin-bottom: 20px;
}

#FilmNS {
	font-family: 'Great Vibes', cursive;
	float: left;
	color: #F9F9F9;
	padding: 20px 10px 0px 10px;
	font-size: 50px;
}

header a img {
	margin-left: 35%;
	width: 5%;
	border-radius: 36px;
}

#header1 {
	float: right;
}

#header1 a {
	padding: 10px;
	margin-left: 8px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: rgba(102, 252, 241, 1);
	color: #1f2833ff;
	font-size: 18px;
	text-decoration: none;
	border-radius: 20px;
}

.unregisteredParagraph {
	margin: 15px 5px 0 0;
}

#userParagraph {
	margin: 30px 20px 0 0;
}

#header1 a:hover {
	background-color: rgba(0, 204, 248, 1);
	-webkit-box-shadow: 10px 10px 65px 5px rgb(87, 224, 255);
	-moz-box-shadow: 10px 10px 65px 5px rgb(87, 224, 255);
	box-shadow: 10px 10px 65px 5px rgb(87, 224, 255);
}

main {
	padding: 50px 0px 15px 0px;
	background-color: rgba(11, 12, 16, 0.7);;
}

.meni {
	float: left;
	width: 250px;
	text-align: center;
	margin: 30px 10px 0px 20px;
}

nav ul {
	list-style: none;
}

div ul {
	list-style: none;
}

nav ul li a {
	color: #1F2833;
	text-decoration: none;
	border-bottom: 1px solid #1F2833;
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 18px;
	background-color: rgba(102, 252, 241, 0.9);
}

.meni a:hover {
	background-color: rgba(12, 204, 248, 0.8);
}

#logoutlink {
	border-bottom: none;
}


/* FOOTER */
footer {
	clear: both;
	background-color: #0B0C10;
	padding-top: 5px;
	border-radius: 20px 20px 0px 0px;
}

footer img {
	padding-left: 6px;
	width: 2%;
}

#footer1 {
	float: right;
}

#footer1 a {
	color: #F9F9F9;
	text-decoration: none;
	padding: 5px 10px 0px 0px;
	margin-top: 5px;
	font-size: 20px;
}



h1{
	margin: 15px 0 0 40%;
	color: white;
	font-family: 'Merienda', cursive;
}

/*SLIDERSHOW*/
.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.middle{
	margin: 220px 0 0 50%;
    transform: translate(-50%,-50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 350px;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
}
.bar:hover{
    background: white;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}



/*USKORO U BIOSKOPU KARTE*/
.uskoro{
	background-color: rgba(11, 12, 16, 0.7);;
	padding: 10px 0 20px 0;
}
.sveKarte {
    width: 1500px;
    margin-left: 10%;
    position: center;
    display: flex;
    justify-content: space-between;

}

.sveKarte .karta{
    position: relative;
}

.sveKarte .karta .lice{
    width: 320px;
    height: 250px;
    transition: 0.5s;
}

.sveKarte .karta .lice.lice1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.sveKarte .karta:hover .lice.lice1{
    transform: translateY(0);
    background: #ff0057;
}


.sveKarte .karta .lice.lice1 .sadrzaj{
    transition: 0.5s;
}

.sveKarte .karta .lice.lice1 .sadrzaj img{
    max-width: 200px;
}
.sveKarte .karta:hover .lice.lice1 .sadrzaj img{
    max-width: 140px;
    transition: 0.5s;
}

.sveKarte .karta:hover .lice.lice1 .sadrzaj h3{
    margin: 10px 0 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.sveKarte .karta .lice.lice2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.sveKarte .karta:hover .lice.lice2{
    transform: translateY(0);
}

.sveKarte .karta .lice.lice2 .sadrzaj p{
    margin: 0;
    padding: 0;
    opacity: 0;
}

.sveKarte .karta:hover .lice.lice2 .sadrzaj p{
    opacity: 1;
}

.sveKarte .karta .lice.lice2 .sadrzaj a{
    margin: 15px 0 0 0;
    display: inline-block;

    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;

}
.sveKarte .karta .lice.lice2 .sadrzaj a:hover{
    background: #333;
    color: #fff;
}

span {
	color:red;
	font-family: 'Merienda', cursive;
}



/*Laptop VERZIJA*/
@media screen and (max-width: 1400px) {
	
	#container {
	width: 1200px;
	}
	
	header a img {
	margin-left: 25%;
	width: 8%;
	border-radius: 36px;
	}
	
	.slidershow{
    width: 550px;
    height: 300px;
    overflow: hidden;
	}
	
	.middle{
		margin: 180px 0 0 55%;
	    transform: translate(-50%,-50%);
	}
	
	.navigation{
    position: absolute;
    bottom: 20px;
    left: 55%;
    transform: translate(-50%);
    display: flex;
	}
	
	.sveKarte {
    width: 1100px;
    position: center;
    margin-left: 5%;
    justify-content: space-between;
    display: flex;
	}
	
	.sveKarte .karta .lice{
    width: 230px;
    height: 270px;
	}

    .sveKarte .karta .lice.lice1 .sadrzaj img {
    max-width: 150px;
	}
	
	.sveKarte .karta:hover .lice.lice1 .sadrzaj img {
    max-width: 90px;
	}

}

/*MOBILNA VERZIJA*/
@media screen and (max-width: 1024px) {
	#container {
	width: 900px;
	}
	
	h1{
	margin: 15px 0 15px 32%;

	}

	header a img {
	margin-left: 22%;
	width: 8%;
	border-radius: 36px;
	}
	
	.meni {
	width: 100%;
	text-align: center;
	margin: 30px 10px 30px 20px;
	}
	
	.slidershow{
    width: 550px;
    height: 300px;
    overflow: hidden;
	}
	
	.middle{
		margin: 220px 0 0 55%;
	    transform: translate(-50%,-50%);
	}
	
	.navigation{
    position: absolute;
    bottom: 20px;
    left: 55%;
    transform: translate(-50%);
    display: flex;
	}
	
	.sveKarte {
    width: 800px;
    position: center;
    margin-left: 25%;
    justify-content: space-between;
    display: block;
	}
	
	.sveKarte .karta .lice{
    width: 420px;
    height: 300px;
	}

    .sveKarte .karta .lice.lice1 .sadrzaj img {
    max-width: 220px;
	}
	
	.sveKarte .karta:hover .lice.lice1 .sadrzaj img {
    max-width: 175px;
	}
	
}