* {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 1150px;
	margin: 0 auto;
	height: 100%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
	background-image: url(../Photos/ListaUsera.jpg);
	background-size: cover;
	background-attachment: fixed;
}

/* HEADER */
header {
	background-color: #0B0C10;
	border-radius: 0 0 20px 20px;
}

#FilmNS {
	font-family: 'Great Vibes', cursive;
	float: left;
	color: #F9F9F9;
	padding: 20px 10px 0px 10px;
	font-size: 50px;
}

header a img {
	margin-left: 23%;
	width: 8%;
	border-radius: 36px;
}

#header1 {
	float: right;
	margin: 35px 15px;
}

#header1 a {
	padding: 10px;
	margin-left: 8px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: rgba(102, 252, 241, 1);
	color: #1f2833ff;
	font-size: 18px;
	text-decoration: none;
	border-radius: 20px;
}

#header1 a:hover {
	background-color: rgba(0, 204, 248, 1);
	-webkit-box-shadow: 10px 10px 65px 5px rgb(87, 224, 255);
	-moz-box-shadow: 10px 10px 65px 5px rgb(87, 224, 255);
	box-shadow: 10px 10px 65px 5px rgb(87, 224, 255);
}


main {
	padding: 28px 0px 15px 0px;
}

/* MENI */
.meni {
	float: left;
	width: 12%;
	text-align: center;
	margin-right: 10px;
}

nav ul {
	list-style: none;
}

div ul {
	list-style: none;
}

nav ul li a {
	color: #1F2833;
	text-decoration: none;
	border-bottom: 1px solid #1F2833;
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 18px;
	background-color: rgba(102, 252, 241, 0.9);
}

.meni a:hover {
	background-color: rgba(12, 204, 248, 0.8);
}

h1 {
	padding: 6px 6px 6px 20px;
	margin: 0 0 5px 5px;
	background-color: #0B0C10;
	color: #F9F9F9;
	border-radius: 25px;
	width: 30%;
	margin-left: 155px;
	font-family: 'Merienda', cursive;
}

#sortiranje {
	background-color: #0B0C10;
	border-radius: 90%;
	color: 	#F9F9F9;
}

#usersTable {
	width: 87%;
	float: right;
}

td a {
	font-family: 'Merienda', cursive;
	color: #0045FF;
	text-decoration: none;
	font-size: 18px;
}

td input {
	width: 170px;
	font-size: 15px;
	padding: 0px 0px 0px 4px;
	border-radius: 15px;
	font-family: 'Merienda', cursive;
}

td ::placeholder {
	color: #1F2833;
	padding-left: 2px;
}

table {
	border-spacing: 0px 15px;
}

#usersTable td {
	padding: 15px;
}

td {
	padding: 8px;
	border-width: 4px;
	border-style: outset;
	background-color: rgba(249, 249, 249, 0.8);
	border-color: rgba(102, 252, 241, 0.8);
	-webkit-box-shadow: inset 10px 10px 65px -15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 10px 10px 65px -15px rgba(0, 0, 0, 0.5);
	box-shadow: inset 10px 10px 65px -15px rgba(0, 0, 0, 0.5);
}

#pretraga td {
	border: none;
	background: none;
	box-shadow: none;
	padding: unset;
}

/* FOOTER */
footer {
	clear: both;
	background-color: #0B0C10;
	padding-top: 5px;
	border-radius: 20px 20px 0px 0px;
}

footer img {
	padding-left: 6px;
	width: 3%;
}

#footer1 {
	float: right;
}

#footer1 a {
	color: #F9F9F9;
	text-decoration: none;
	padding: 5px 10px 0px 0px;
	margin-top: 5px;
}

/*MOBILNA VERZIJA*/
@media screen and (max-width: 1024px) {
	/*
	body {
		background-image: url(../Photos/ListaFilmovaPhone.jpg);
		background-attachment: fixed;
	}
	*/
	header {
		width: 100%;
	}
	.meni {
		width: 100%;
		padding: 5px;
	}
	h1 {
		margin: 0px 0px 0px 8px;
		background-color: unset;
	}
	td input {
		width: 180px;
		font-size: 18px;
	}
	#usersTable {
		margin-left: 8px;
		width: 100%;
	}
}